textarea,
input {
    position: relative;
    width: 100%;
    background-color: #202020;
    color: white;
    padding: 14px 20px 14px 0;
    margin: 8px 0 20px 0;
    border-bottom: 2px solid rgb(94, 94, 94);
    border-right: none;
    cursor: pointer;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

textarea {
    height: 100px;
    padding: 14px 20px !important;
    border-right: 1px solid rgb(94, 94, 94);
}

label {
    color: #fff;
}

button {
    border-width: 1px;
    border-color: #fff;
    color: #fff;
    background-color: #202020;
    width: 100px;
    height: 50px;
}

.button_create {
    display: flex;
    justify-content: right;
    // width: 72%;

    button {
        cursor: pointer;
    }
}

.form {
    display: flex;
    gap: 5%;
    width: 70%;
    margin-bottom: 5%;

    .form__field {
        display: flex;
        flex-direction: column;
        gap: 10%;
        width: 100%;

        .field__left {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10%;

            .right__column,
            .left__column {
                display: flex;
                flex-direction: column;
                width: 50%;
            }
        }

        .field__right {
            width: 100%;
        }
    }
}

.form__description {
    width: 70%;
}

.box {
    color: rgb(54, 53, 53);
    border: 2px solid;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.custom-icon {
    width: 13rem;
    display: table-cell;
    font-size: 3rem;
    padding: 4.5rem 0;
    text-align: center;
}
