* {
    font-family: 'Poppins', sans-serif;
   // color: #ffffff;
}

.h1-title {
    display: inline-block;
    font-size: 36px;
    background-image: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8);
    background-clip: text;
    color: transparent;
}