* {
    font-family: 'Poppins', sans-serif;
    // color: #ffffff;
}

.h1-title {
    display: inline-block;
    font-size: 36px;
    background-image: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
    background-clip: text;
    color: transparent;
}
