@import '~pretty-checkbox/src/pretty-checkbox.scss';

tr {
    th,
    td {
        font-family: 'Poppins', sans-serif;
        color: #ffffff;
    }
}

table {
    width: 90%;
    border-collapse: collapse;

    tbody {
        tr {
            display: table-row;
            border-top: 2px solid #707070;

            td {
                padding: 15px 0;

                img {
                    display: flex;
                    align-self: center;
                    margin: auto;
                    margin-right: 15px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    thead {
        tr {
            th {
                width: 18%;
                padding-bottom: 15px;

                &:nth-child(5) {
                    width: 3% !important;

                    img {
                        display: flex;
                        align-self: center;
                    }
                }
            }
        }
    }
}
